<div class="row" >

    <div class="col-lg-8">

        <h2>Berza poslova <small>beta version 1.1</small></h2>
    </div>
    <div class="col-lg-4">

        <div class="breadcrumb">
            <form role="form">
                <div class="form-group input-group">

                    <input type="text" class="form-control"  ng-model="searchText">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled="disabled">{{'SEARCH' | translate}}</button>
                </span>


                </div>
            </form>
        </div>
    </div>


</div>
<hr>

        <script language="javascript" type="text/javascript">
            function funkcija() {
                var y = document.getElementById("odabrano");
                var t = y.options[y.selectedIndex].value;


                var x = document.getElementById("kategorija");
                x.value = t;


            }

        </script>

<div class="row">
    <div class="col-lg-4">
        <form>
        <fieldset>
        <div class="form-group">
            <label>Odaberi kategoriju</label>
            <select class="form-control" ng-model="formData.newKategorija"
                    ng-options="kategorija.kategorija for kategorija in kategorijas"></select>


        </div>

            <button class="btn btn-primary" ng-click="createNotification()">Create</button>
        </fieldset>
        </form><br><br>
        <div class="panel panel-default">
            <div class="panel-heading">Moje kategorije</div>
            <div class="panel-body" ng-repeat="not in data.notifications | filter: {user_id:data2.userId}">
                {{not.kategorija}}
            </div>
        </div>

    </div>
    <div class="col-lg-8">
        <div ng-repeat="not in data.notifications | filter: {user_id:data2.userId}">

        <div class="col-lg-6"  ng-repeat="advartisment in data3.advartisments | filter: {category:not.kategorija}">

            {{advartisment.expire}}<br>
            {{advartisment.title}} - {{advartisment.location}}<br>
            {{advartisment.category}}<br>
            <a ng-click="viewAdvartisment(advartisment.id)">...detaljno</a>
            <hr>

        </div>
            </div>
    </div>


</div>