<div class="row" >

    <div class="col-lg-8">

        <h2>Berza poslova <small>beta version 1.1</small></h2>
    </div>
    <div class="col-lg-4">
        <div style="text-align: right">
            <a ng-click="changeLanguage('ba')" data-no-turbolink="true">BS </a> ||
            <a ng-click="changeLanguage('en')" data-no-turbolink="true">EN</a>
        </div>
        <div class="breadcrumb">
            <form role="form">
                <div class="form-group input-group">

                    <input type="text" class="form-control"  ng-model="searchText">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled="disabled">{{'SEARCH' | translate}}</button>
                </span>


                </div>
            </form>
        </div>
    </div>


</div>
<hr>

<div class="row">

    <div class="col-lg-8">
        <span class="avatar"><img src="http://placehold.it/200x200"></span>


        <div class="page-header">
            <h1 id="container"> {{'INFORMATION' | translate }} </h1>
        </div>
        <div class="bs-example">
            <div class="jumbotron">
                <h2>{{data.currentUser.name}} {{data.currentUser.lastname}} </h2>
                <b>{{'EMAIL' | translate}}: </b>
                {{data.currentUser.email}} <br>
                <b>{{'ADDRESS' | translate}}: </b>
                {{data.currentUser.address}} <br>
                <b>{{'PHONE' | translate}}: </b>
                {{data.currentUser.phone}}<br>

            </div>
        </div>






    </div>

    <div class="col-lg-4">
        <div class="bs-example">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">  {{data.currentUser.username}}</span>
                    Datum registrovanja korisnika
                </li>

                <li class="list-group-item">
                    <span class="badge">5</span>
                    Broj mojih cv-a
                </li>
            </ul>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">{{'NOTIFICATION' | translate}}</div>
            <div class="panel-body" ng-repeat="not in data2.notifications | filter:{ user_id: data.userId}">
                {{not.kategorija}}
            </div>
        </div>
        <hr>
        <div class="bs-example">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">>></span>
                   <a href="/#/cv/new">{{'NEWCV' | translate}}</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">>></span>
                    <a  ng-click="editUser(user_id)">{{'EDITUSER' | translate}}</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">>></span>
                    <a href="/#/notification/new/{{data.currentUser.id}}">Odaberi kategoriju</a>
                </li>

            </ul>
        </div>
        <hr>
        <div class="bs-example">
            <div class="list-group" ng-repeat="cv in data1.cvs | filter:{ user_id: data.userId}">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{cv.naslov}}</h4>
                    <p class="list-group-item-text">  {{user_id}} </p>


                </a>

            </div>
        </div>





    </div>



</div>