<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a ng-click="navHome()" class="brand">My blog</a>
        <ul class="nav pull-right">
            <li><a ng-click="navEditCv()">Update cv</a></li>
        </ul>
    </div>
</div>

<div class="container" style="margin-top: 40px">
    <h1 class="text-center">Update cv</h1>
    <form>
        <fieldset>
            <label><strong>Title</strong></label>
            <input class="span12" ng-model="formData.newCvNaslov" placeholder="Edit Cv" type="text" maxlength="250"> {{data.currentCv.naslov}}
            <label><strong>Description</strong></label>
            <textarea class="span12" style="height: 250px" ng-model="formData.newCvDodatno" placeholder="Type your personal skills here..."> {{data.currentCv.dodatno}}</textarea>
            <button class="btn btn-primary" ng-click="editCv()">Edit</button>
            <button class="btn btn-danger pull-right" ng-click="clearCv()">Clear cv</button>
        </fieldset>
    </form>
</div>