
<div class="col-lg-4" style="align-content: center">
    <div class="panel panel-primary">

        <div class="panel-heading"  > Editovanje Cv-a</div>

        <div class="container" style="margin-top: 40px;" >
            <input class="span12" ng-model="formData.editNaslov" type="text" maxlength="250" value="{{ formData.editNaslov }}"/> <br><br>
            <textarea class="span12" style="height: 250px" ng-model="formData.editDodatno">{{ formData.editDodatno }}</textarea> <br><br>
            <button class="btn btn-primary" ng-click="updateCv()">Edit</button>
            <button class="btn btn-danger" ng-click="removeCv()">Destroy</button>

            <br> <br>

        </div>
    </div>

