<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a href="#" class="brand">My blog</a>
        <ul class="nav pull-right">
            <li><a ng-click="navNewUser()">New User</a></li>
        </ul>
    </div>
</div>

<div class="container" style="margin-top: 40px">
    <h1 class="text-center">{{data.currentUser.email}}</h1>
    <div class="row">
        <p>{{data.currentUser.password}}</p>
    </div>
    <div class="row">
        <button class="btn btn-default" ng-click="editUser()">Edit</button>
    </div>
</div>