<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a ng-click="navHome()" class="brand">My blog</a>
        <ul class="nav pull-right">
            <li><a ng-click="navNewAdvartisment()">New Advartisment</a></li>
        </ul>
    </div>
</div>

<div class="container" style="margin-top: 40px">
    <h1 class="text-center">Create new advartisment</h1>
    <form>
        <fieldset>
            <label><strong>Title</strong></label>
            <input class="span12" ng-model="formData.newAdvartismentTitle" placeholder="New Advartisment" type="text" maxlength="250">
            <label><strong>Body</strong></label>
            <textarea class="span12" style="height: 250px" ng-model="formData.newAdvartismentDescription" placeholder="Type your advartisment here..."></textarea>
            <button class="btn btn-primary" ng-click="createAdvartisment()">Create</button>
            <button class="btn btn-danger pull-right" ng-click="clearAdvartisment()">Clear advartisment</button>
        </fieldset>
    </form>
</div>