<div class="row" >

    <div class="col-lg-8">

        <h2>Berza poslova <small>beta version 1.1</small></h2>
    </div>
    <div class="col-lg-4">
        <div style="text-align: right">
            <a ng-click="changeLanguage('ba')" data-no-turbolink="true">BS </a> ||
            <a ng-click="changeLanguage('en')" data-no-turbolink="true">EN</a>
        </div>
        <div class="breadcrumb">
            <form role="form">
                <div class="form-group input-group">

                    <input type="text" class="form-control"  ng-model="searchText">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled="disabled">{{'SEARCH' | translate}}</button>
                </span>


                </div>
            </form>
        </div>
    </div>


</div>
<hr>


<div class="row">
    <div class="col-lg-8" style="align-content: center">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'NEWCV' | translate }}</div>

<div class="container" style="margin-top: 40px;" >
  <form  style="align-content: center" name="cv_submit_form" ng-submit="submitForm(cv_submit_form.$valid)" novalidate>
    <fieldset>
        <div class="row" >
            <div class="col-lg-8" ng-class="{ 'has-error' : title_invalid(cv_submit_form) }">
                <label><strong> {{ 'TITLE' | translate }}</strong></label> <br>
                <textarea  style="height: 50px; width:670px"  ng-model="formData.newCvNaslov" placeholder="" name="title" required autofocus ng-minlength="6" ng-maxlength="255"></textarea>    <hr>

            <span class="help-block" ng-show="title_invalid(cv_submit_form)">
                    Title title must be at least 6 characters long (maximum of 255).
                </span>
            </div>
        </div>
        <div class="row" >
            <div class="col-lg-8" ng-class="{ 'has-error' : education_invalid(cv_submit_form) }">
                <label><strong> {{ 'EDUCATION' | translate }}</strong></label> <br>
                <textarea  style="height: 50px; width:670px"  ng-model="formData.newCvObrazovanje" name="education" placeholder=""  required autofocus ng-minlength="6" ng-maxlength="255"></textarea>    <hr>
            <span class="help-block" ng-show="education_invalid(cv_submit_form)">
                    Education  must be at least 6 characters long (maximum of 255).
                </span>
            </div>
        </div>
        <div class="row" >
            <div class="col-lg-8">
                <label><strong>{{ 'DEGREE' | translate }}</strong></label> <br>
                <textarea  style="height: 50px; width:670px" ng-model="formData.newCvSprema" placeholder=""></textarea>    <hr>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-8">
                    <label><strong >{{ 'WORK' | translate }}</strong></label> <br>
                  <textarea style="height: 50px; width:670px" ng-model="formData.newCvRadno" placeholder=""></textarea> <hr>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-8">
                <label><strong >{{ 'LANGUAGES' | translate }}</strong></label> <br>
                <textarea class="span12" style="height: 50px; width:670px" ng-model="formData.newCvJezici" placeholder=""></textarea> <hr>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-8">
                <label><strong >{{ 'SKILLS' | translate }}</strong></label> <br>
                <textarea  style="height: 50px; width:670px" ng-model="formData.newCvVjestine" placeholder=""></textarea> <hr>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-8">
                <label><strong >{{ 'ADDINFORMATION' | translate }}</strong></label> <br>
                <textarea  style="height: 50px; width:670px" ng-model="formData.newCvDodatno" placeholder=""></textarea> <hr>
            </div>
        </div>


        <button class="btn btn-primary" ng-click="createCv()" ng-disabled="cv_submit_form.$invalid">{{ 'CREATE' | translate }}</button>
        <button class="btn btn-default" ng-click="clearCv()">{{ 'CLEAR' | translate }}</button>

    </fieldset>
  </form>
</div>
            <br>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-example">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">
                   28.6.2014
                    </span>
                    Datum kreiranja cv-a
                </li>

                <li class="list-group-item">
                    <span class="badge">{{data.cvs.length}}</span>
                    Broj mojih cv-a
                </li>
            </ul>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">{{'NOTIFICATION' | translate}}</div>
            <div class="panel-body" ng-repeat="not in data2.notifications | filter:{ user_id: data.userId}">
                {{not.kategorija}}
            </div>
        </div>
        <hr>
        <div class="bs-example">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">>></span>
                     <a href="/#/cv/new">{{ 'NEWCV' | translate }} </a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="bs-example">
            <div class="list-group" ng-repeat="cv in data.cvs | filter:{ user_id: data.userId}">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">{{cv.naslov}}</h4>
                    <p class="list-group-item-text">  {{user_id}} </p>

                </a>

            </div>
        </div>





    </div>

</div>