<div class="row">

    <div class="col-lg-8">

        <h2>Berza poslova <small>beta version 1.1</small></h2>
    </div>



</div>
<hr>
<div class="col-lg-4" >
    <form>
        <fieldset>
            <div class="form-group">
                <label>First name</label>
                <input class="form-control" ng-model="formData.newUserName" placeholder="First name" maxlength="250" minlength = "3">
            </div>
            <div class="form-group">
                <label>Last name</label>
                <input class="form-control" ng-model="formData.newUserLastname" placeholder="Last name" maxlength="250" minlength = "3">
            </div>
            <div class="form-group">
                <label>Address</label>
                <input class="form-control" ng-model="formData.newUserAddress" placeholder="Address" maxlength="250" minlength = "3">
            </div>
            <div class="form-group">
                <label>Phone number</label>
                <input class="form-control" ng-model="formData.newUserPhone" placeholder="Phone number" maxlength="250" minlength = "3">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" ng-model="formData.newUserEmail" placeholder="Email" maxlength="250" minlength = "3">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" ng-model="formData.newUserPassword" placeholder="Password" maxlength="250" minlength = "3">
            </div>
            <div class="form-group">
                <label>Retype password</label>
                <input class="form-control" type="password"  placeholder="Password" maxlength="250" minlength = "3">
            </div>

            <br>
            <button class="btn btn-primary" ng-click="createUser()">Sign up</button>
            <button class="btn btn-default" ng-click="clearUser()">Clear fields</button>

            <input class="form-control"  ng-model="formData.newUserUsername" style="visibility: hidden">

        </fieldset>
    </form>

</div>