<div class="row">

    <div class="col-lg-8">

        <div class="page-header">
            <h1 id="container">{{'NEWADVARTISMENT' |translate}}</h1>
        </div>
        <div class="bs-example">
            <div class="jumbotron">
    <form>
        <fieldset>
            <label><strong>Naslov</strong></label><br>
            <div class="form-group input-group">
                <span class="input-group-addon"></span>
                <input type="text"  ng-model="formData.newAdvartismentTitle" class="form-control" >
            </div>


            <label><strong>Kratak opis</strong></label><br>
            <textarea class="form-control" style="height: 250px" ng-model="formData.newAdvartismentDescription" placeholder="Type your advartisment here..."></textarea><br>
            <label><strong>Lokacija</strong></label><br>
            <input class="form-control" type="text"  ng-model="formData.newAdvartismentLocation" class="form-control" >
          <br>
           <label><strong>Kategorija</strong></label><br>
           <select class="form-control" ng-model="formData.newAdvartismentCategory" ng-options="color.name for color in colors"></select><br>
            <label><strong>Datum isteka</strong></label><br>
            <input class="form-control"  ng-model="formData.newAdvartismentExpire" placeholder="New Advartisment" type="date"><br>
            <br>
            <button class="btn btn-primary" ng-click="createAdvartisment()">Create</button>
            <button class="btn btn-danger" ng-click="clearAdvartisment()">Clear </button>
        </fieldset>
    </form>
</div>
            <br>
        </div>
    </div>
</div>