<div class="row" >

    <div class="col-lg-8">

        <h2>Berza poslova <small>beta version 1.1</small></h2>
    </div>
    <div class="col-lg-4">
        <div style="text-align: right">
            <a ng-click="changeLanguage('ba')" data-no-turbolink="true">BS </a> ||
            <a ng-click="changeLanguage('en')" data-no-turbolink="true">EN</a>
        </div>
        <div class="breadcrumb">
            <form role="form">
                <div class="form-group input-group">

                    <input type="text" class="form-control"  ng-model="searchText">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled="disabled">{{'SEARCH' | translate}}</button>
                </span>


                </div>
            </form>
        </div>
    </div>


</div>
<hr>


<div class="row">

    <div class="col-lg-8">

        <div class="page-header">
            <h1 id="container">{{'NEWADVARTISMENT' |translate}}</h1>
        </div>
        <div class="bs-example">
            <div class="jumbotron">
    <form name="advartismentForm" ng-submit="submitForm(advartismentForm.$valid)" novalidate>
        <fieldset>
            <label><strong> {{ 'TITLE' | translate }}</strong></label><br>
            <div class="form-group input-group" ng-class="{ 'has-error' : title_invalid(advartismentForm) }">
                <span class="input-group-addon"></span>
                <input type="text"  ng-model="formData.newAdvartismentTitle" class="form-control" required autofocus ng-minlength="3" ng-maxlength="255" name="title">
                <p ng-show="advartismentForm.title.$invalid" class="help-block">Unos naslova oglasa je obavezan. Minimalna duzina je 3 kataktera. </p>
            </div>


            <label><strong>{{ 'DESCRIPTION' | translate }}</strong></label><br>
            <div class="form-group input-group" ng-class="{ 'has-error' : description_invalid(advartismentForm) }">
            <textarea class="form-control" name="description" style="height: 250px" ng-model="formData.newAdvartismentDescription" required autofocus ng-minlength="3" ng-maxlength="255"></textarea><br>
                <p ng-show="advartismentForm.description.$invalid" class="help-block">Unos opisa oglasa je obavezan. Minimalna duzina je 3 kataktera. </p>

            </div>
                <label><strong>{{ 'LOCATION' | translate }}</strong></label><br>
            <div class="form-group input-group" ng-class="{ 'has-error' : location_invalid(advartismentForm) }">
            <input class="form-control" type="text"  name="location" ng-model="formData.newAdvartismentLocation" class="form-control" required autofocus ng-minlength="3" ng-maxlength="255" >
                <p ng-show="advartismentForm.location.$invalid" class="help-block">Unos lokacije oglasa je obavezan. Minimalna duzina je 3 kataktera. </p>

            </div>
                <br>
           <label><strong>{{ 'CATEGORY' | translate }}</strong></label><br>
           <select class="form-control" ng-model="formData.newAdvartismentCategory" ng-options="color.name for color in colors"></select><br>
            <label><strong> {{ 'EXPIRE' | translate }}</strong></label><br>
            <div class="form-group input-group" ng-class="{ 'has-error' : exipe_invalid(advartismentForm) }">

            <input class="form-control"  name="exipe" ng-model="formData.newAdvartismentExpire" placeholder="New Advartisment" type="date" required autofocus><br>
                <p ng-show="advartismentForm.expire.$invalid" class="help-block">Odaberite datum. </p>

            </div>
                <br>
            <button class="btn btn-primary" ng-click="createAdvartisment()"  ng-disabled="advartismentForm.$invalid">{{ 'CREATE' | translate }}</button>
            <button class="btn btn-danger" ng-click="clearAdvartisment()">{{ 'CLEAR' | translate }} </button>
        </fieldset>
    </form>
           </div>
            <br>
        </div>
    </div>
</div>