
<div class="container" style="margin-top: 40px">
    <h1 class="text-center">Sign up</h1>
    <form>
        <fieldset>
            <label><strong>Email</strong></label>
            <input class="span12" ng-model="formData.newUserEmail" placeholder="Type your email here..." type="text" maxlength="250">
<br>
            <label><strong>Password</strong></label>
            <input class="span12" ng-model="formData.newUserPassword" placeholder="Type your password here..." type="text" maxlength="250">
<br>
            <button class="btn btn-primary" ng-click="createUser()">Sign up</button>
            <button class="btn btn-danger" ng-click="clearUser()">Clear fileds</button>
        </fieldset>
    </form>
</div>

