<!-- <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a href="#" class="brand">My blog</a>
        <ul class="nav pull-right">
            <li><a ng-click="navNewAdvartisment()">New Advartisment</a></li>
        </ul>
    </div>
</div>

<div class="container" style="margin-top: 40px">
    <h1 class="text-center">{{data.currentAdvartisment.title}}</h1>
    <div class="row">
        <p>{{data.currentAdvartisment.description}}</p>
    </div>
    <div class="row">
        <button class="btn btn-default" ng-click="editAdvartisment()">Edit</button>
    </div>
</div>

-->

<div class="row">

    <div class="col-lg-8">
        <span class="avatar"><img src="http://placehold.it/200x100"></span>
        <span >Atlant BiH je jkndf jnfdisn jkhsfdik jhbsdiuf jbnsduifnk ... read more</span>

            <div class="page-header">
                <h1 id="container">Atlant BiH</h1>
            </div>
            <div class="bs-example">
                <div class="jumbotron">
                    <h2>{{data.currentAdvartisment.title}}</h2>
                    <h6>{{data.currentAdvartisment.description}}</h6>
                    <p><a class="btn btn-primary btn-lg">Prijavi se</a></p>
                </div>
            </div>



            <button type="button" class="btn btn-primary btn-sm">Isprintaj oglas</button>
            <button type="button" class="btn btn-primary btn-sm">Sačuvaj oglas</button>


    </div>

        <div class="col-lg-4">
            <div class="bs-example">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14.12.2011.</span>
                        Datum objavljivanja oglasa
                    </li>
                    <li class="list-group-item">
                        <span class="badge">14.01.2012.</span>
                        Datum isteka oglasa
                    </li>
                    <li class="list-group-item">
                        <span class="badge">5</span>
                        Dana do isteka oglasa
                    </li>
                </ul>
            </div>
<hr>
            <ul class="breadcrumb">
                <li class="active">
                    Kategorija: Računarstvo i informatika
                    <button type="button" class="btn btn-primary btn-xs">Prati kategoriju</button>
                </li>
            </ul>
            <ul class="breadcrumb">
                <li class="active">
                    Web page: www.atlant.ba
                    <button type="button" class="btn btn-primary btn-xs">Posjeti stranicu</button>
                </li>
            </ul>
            <ul class="breadcrumb">
                <li class="active">
                    Lokacija: Sarajevo
                    <button type="button" class="btn btn-primary btn-xs">Ostali oglasi</button>
                </li>
            </ul>
<hr>
                <div class="bs-example">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                    </div>
                </div>

        </div>



</div>
