
<div class="container" style="margin-top: 40px">
    <h1 class="text-center" style="font-family: Headline; color: #ff0000">Welcome to Berza poslova</h1>
    <br><br>
    <div class="row"  >
        <div class="col-lg-4" style="align-content: center" ng-repeat="advartisment in data.advartisments | filter:'Komrcijala i prodaja'" >
            <div class="panel panel-primary">
                <div class="panel-heading"  >{{advartisment.title}} </div>
                <div class="container" style="margin-top: 40px;" >
                    <p>{{advartisment.description}}</p> <br>
                    <p> {{advartisment.category}} </p>
                    <a ng-click="viewAdvartisment(advartisment.id)">Read more</a>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
