<div class="col-lg-6" style="align-content: center">
<div class="panel panel-primary">
    <div class="panel-heading"  >{{data.currentCv.naslov}}</div>
            <div class="container" style="margin-top: 40px;" >
                <label><strong >Osobne informacije </strong></label> <br>
                <p>Pokupiti sa profila</p> <br>
                <label><strong >Radno iskustvo</strong></label> <br>

                <p>{{data.currentCv.radnoIskustvo}}</p> <br>
                <button class="btn btn-primary btn-xs" ng-click="">Edit</button><br>

                <label><strong>Stručna sprema</strong></label> <br>
                <p>{{data.currentCv.strucnaSprema}}</p> <br>
                <buttonclass="btn btn-primary btn-xs" ng-click="">Edit</button><br>

                <label><strong>Obrazovanje</strong></label> <br>
                <p>{{data.currentCv.obrazovanje}}</p> <br>
                <button class="btn btn-primary btn-xs"ng-click="">Edit</button><br>

                <label><strong>Jezici</strong></label> <br>
                <p>{{data.currentCv.jezici}}</p> <br>
                <button class="btn btn-primary btn-xs" ng-click="">Edit</button><br>

                <label><strong>Vještine</strong></label> <br>
                <p>{{data.currentCv.vjestine}}</p> <br>
                <button class="btn btn-primary btn-xs" ng-click="">Edit</button><br>

                <label><strong>Dodatne informacije</strong></label> <br>
                <p>{{data.currentCv.dodatno}}</p> <br>
                <button class="btn btn-primary btn-xs" ng-click="">Edit</button><br>

                <br></br>
         </div>
  </div>
</div>
