<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a href="#" class="brand">My Cv</a>
        <ul class="nav pull-right">
            <li><a ng-click="navNewCv()">New Cv</a></li>
        </ul>
    </div>
</div>

<div class="container" style="margin-top: 40px">
    <h1 class="text-center">{{data.currentCv.naslov}}</h1>
    <div class="row">
        <p>{{data.currentCv.dodatno}}</p>
    </div>
    <div class="row">
        <p> {{data.currentCv.cvId}}</p>
    </div>
--------------------------------------------------
    <div class="container" style="margin-top: 40px">
        <h1 class="text-center">Update cv</h1>
        <form>
            <fieldset>
                <label><strong>Title</strong></label>
                <input class="span12" ng-model="formData.newCvNaslov" placeholder="{{data.currentCv.naslov}}" type="text" maxlength="250">
                <label><strong>Description</strong></label>
                <textarea class="span12" style="height: 250px" ng-model="formData.newCvDodatno" placeholder="{{data.currentCv.dodatno}}"></textarea>
                <button class="btn btn-primary" ng-click="editCv({{data.currentCv.cvId}})">Edit</button>
                <button class="btn btn-danger pull-right" ng-click="clearCv( )">Clear cv</button>
            </fieldset>
        </form>
    </div>
    -------------------------------------------------
    <div class="row">
        <button class="btn btn-default" ng-click="editCv()">Edit</button>
    </div>
</div>