<style>
    body     { padding-top:30px; }
</style>
<div class="row" >

    <div class="col-lg-8">

        <h2>Berza poslova <small>beta version 1.1</small></h2>
    </div>
    <div class="col-lg-4">

        <div class="breadcrumb">
            <form role="form" >
                <div class="form-group input-group">

                    <input type="text" class="form-control"  ng-model="searchText">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled="disabled">{{'SEARCH' | translate}}</button>
                </span>


                </div>
            </form>
        </div>
    </div>


</div>
<hr>
        <div class="row">
<div class="col-lg-4" >
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
        <fieldset>
            <div class="form-group" ng-class="{ 'has-error' : name_invalid(userForm) }">
                <label> {{'FIRSTNAME' | translate}}</label>
                <input class="form-control" name="name" ng-model="formData.newUserName" placeholder="First name" required autofocus ng-minlength="3" ng-maxlength="255">
                <small ng-show="userForm.name.$invalid" class="help-block">Unos prezimena je obavezan. Minimalna duzina je 3 kataktera. </small>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : lastname_invalid(userForm) }">
                <label>{{'LASTNAME' | translate}}</label>
                <input class="form-control" ng-model="formData.newUserLastname" placeholder="Last name" name="lastname" required autofocus ng-minlength="3" ng-maxlength="255">
                <small ng-show="userForm.lastname.$invalid" class="help-block">Unos prezimena je obavezan. Minimalna duzina je 3 kataktera. </small>

            </div>
            <div class="form-group" ng-class="{ 'has-error' : address_invalid(userForm) }">
                <label>{{'ADDRESS' | translate}}</label>
                <input class="form-control" ng-model="formData.newUserAddress" placeholder="Address" name="address" required autofocus maxlength="250" minlength = "3">
                <small ng-show="userForm.address.$invalid" class="help-block">Unos adrese je obavezan. </small>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : phone_invalid(userForm) }">
                <label>{{'PHONE' | translate}}</label>
                <input class="form-control" ng-model="formData.newUserPhone" placeholder="Phone number" ng-pattern="/^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{3})$/"  name="phone" required autofocus  maxlength="250" minlength = "3">
                <small ng-show="userForm.phone.$invalid" class="help-block">Unos telefona je obavezan. Format: 999-999-999 </small>

            </div>
            <div class="form-group" ng-class="{ 'has-error' : email_invalid(userForm) }">
                <label>{{'EMAIL' | translate}}</label>
                <input class="form-control" name="email" ng-model="formData.newUserEmail" ng-pattern=" /[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}/" placeholder="Email" required autofocus maxlength="250" minlength = "3">
                <small ng-show="userForm.email.$invalid" class="help-block">Unos emaila je obavezan.</small>

            </div>
            <div class="form-group">
                <label>{{'PW' | translate}}</label>
                <input class="form-control" type="password" ng-model="formData.newUserPassword" placeholder="Password" maxlength="250" minlength = "3">
            </div>
            <div class="form-group">
                <label>{{'RPW' | translate}}</label>
                <input class="form-control" type="password"  ng-model="formData.newUserProvjera" placeholder="Password" maxlength="250" minlength = "3">
            </div>

            <br>
            <button class="btn btn-primary" ng-click="createUser()"  ng-disabled="userForm.$invalid">{{'CREATE' | translate}}</button>
            <button class="btn btn-default" ng-click="clearUser()">{{'CLEAR' | translate}}</button>

            <input class="form-control"  ng-model="formData.newUserUsername" style="visibility: hidden">

        </fieldset>
    </form>

</div></div>