<div class="row" >

    <div class="col-lg-8">

        <h2>Berza poslova <small>beta version 1.1</small></h2>
    </div>
    <div class="col-lg-4">
        <div style="text-align: right">
            <a ng-click="changeLanguage('ba')" data-no-turbolink="true">BS </a> ||
            <a ng-click="changeLanguage('en')" data-no-turbolink="true">EN</a>
        </div>
        <div class="breadcrumb">
            <form role="form">
                <div class="form-group input-group">

                    <input type="text" class="form-control"  ng-model="searchText">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled="disabled">{{'SEARCH' | translate}}</button>
                </span>


                </div>
            </form>
        </div>
    </div>


</div>
<hr>

<div class="row">

    <div class="col-lg-8">
        <span class="avatar"><img src="http://placehold.it/100x200"></span>


        <div class="page-header">
            <h1 id="container"> {{'INFORMATION' | translate }} </h1>
        </div>
        <div class="bs-example">
            <div class="jumbotron">
                <h2>{{data.currentEmployer.name}}  </h2>
                <b>{{'EMAIL' | translate}}: </b>
                {{data.currentEmployer.email}} <br>
                <b> Location: </b>
                {{data.currentEmployer.location}} <br>
                <b> Website : </b>
                {{data.currentEmployer.website}}<br>

            </div>
        </div>






    </div>

    <div class="col-lg-4">
        <div class="bs-example">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">  {{data.currentEmployer.created_at}}</span>
                    Datum registrovanja poslodavca
                </li>

                <li class="list-group-item">
                    <span class="badge">5</span>
                    Broj mojih oglasa
                </li>
            </ul>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">{{'NOTIFICATION' | translate}}</div>
            <div class="panel-body">
                Ekonomija
            </div>
            <div class="panel-body">
                Bankarstvo
            </div>
        </div>
        <hr>
        <div class="bs-example">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">>></span>
                    <a href="/cv/new"> New advartisment</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">>></span>
                    <a href="/employer/edit"> Edit profile</a>
                </li>

            </ul>
        </div>
        <hr>
        <div class="bs-example">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Advartisment</h4>
                    <p class="list-group-item-text"> Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>


                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Advartismnent</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
            </div>
        </div>





    </div>



</div>